<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
</head>
<body>
<h2>Signup</h2>
<form action="/api/auth/signup" method="post">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>
    <label>Email:</label>
    <input type="email" name="email" required><br><br>
    <label>Password:</label>
    <input type="password" name="password" required><br><br>
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</body>
</html>
